* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #f3f3f3;
  font: 400 1.2em/1.2 sans-serif;
}

body {
  background: #fff;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 1rem auto;
  max-width: 900px;
}

.welcome,
.goodbuy,
.results {
  flex-basis: 100%;
}

.wrapper * + * {
  margin-top: 1rem;
}

.wrapper button + button,
.wrapper span + span {
  margin-top: 0;
}

.wrapper > div {
  background: #484848;
  padding: 1rem;
}

.wrapper > div + div,
button + button {
  margin-left: 1rem;
}

p {
  text-align: center;
}

span {
  padding: 0 .5rem;
}

h2 {
  text-align: center;
}

.expression {
  display: flex;
  justify-content: center;
}

.operandOne { /* оператор всегда будет в центре */
  flex: 1;
  text-align: right;
}

.operandTwo { /* оператор всегда будет в центре */
  flex: 1;
  text-align: left;
}

.userAnswer {
  text-align: left;
}
form {
  display: flex;
  justify-content: center;
}

button {
  background: #6c6c6c;
  border: 2px solid #f3f3f3;
  color: #f3f3f3;
  font: 400 .8rem/1.2 sans-serif;
  flex: 0 0 4rem;
  letter-spacing: .02rem;
  outline: none;
  padding: .3rem;
}

button:hover {
  background: #484848;
}
button:active {
  background: #242424;
  border-color: 2px solid #f3f3f3;
}

/*  */
.continue {
  flex: 2;
}

.timer {
  flex: 1;
  margin-top: 0;
  position: relative;
}

.timer > p {
  font: 600 3rem/1.2 sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*  */
.wrapper .results {
  margin-left: 0;
}

/*  */
.results > div {
  padding: 1rem;
}

.correct {
  background: #5cb85c;
}

.incorrect {
  background: #d9534f;
}