* {
  box-sizing: border-box;
}
html {
  font-size: 1em;
  color: #454545;
}

body {
  background: #454545;
  margin: 2rem;
}

/* WRAPPERS */
.wrapper {
  text-align: center;
}

.wrapper.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 600px;
}

.wrapper.item {
  background: #dfdfdf;
  flex: 1;
  padding: 2rem;
}

.wrapper.expression {
  background: white;
  border-radius: 10px;
  display: flex;
  padding: 1rem;
}

.wrapper + .wrapper {
  margin-top: 2rem;
}

/* EXPRESSION */
.expression span {
  font: 400 2rem/1.2 sans-serif;
}

.operandOne {
  flex: 3;
  text-align: right;
}

.operator {
  flex: 1 1;
  padding: 0 .5rem;
  text-align: center;
}

.operandTwo {
  flex: 3;
  text-align: left;
}

/* TIMER */
.timer {
  background: white;
  border-radius: 10px;
  padding: 1rem;
  font: 400 2rem/1.2 sans-serif;
}

.timer .seconds {
  color: #e67a7a;
}

.tenSeconds {
  color: e67a7a;
}

/* BUTTONS */
.button {
  background-color: #64bcfc;
  border: 1px solid #dfdfdf;
  border-radius: 100%;
  box-shadow: 
    1px 1px 0 1px #64bcfc,
    -1px -1px 0 1px #64bcfc,
    1px -1px 0 1px #64bcfc,
    -1px 1px 0 1px #64bcfc;
  color: #454545;
  font-size: .9rem;
  height: 3.5em;
  outline: none;
  padding: 0;
  transition: background-color .5s, box-shadow .5s, color .5s, border .5s;
  width: 3.5em;

  /* блокировать выделение текста */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.button:active {
  background-color: #eef9ff;
  box-shadow: 
    1px 1px 0 1px #eef9ff,
    -1px -1px 0 1px #eef9ff,
    1px -1px 0 1px #eef9ff,
    -1px 1px 0 1px #eef9ff;
}

.button + .button {
  margin-left: 2rem;
}

/* SELECT */
.select label {
  margin-left: .5rem;
}

select {
  font: inherit;
}

select:nth-of-type(n + 2) {
  margin-left: 1rem;
}

/* RESULTS */
.correct {
  background: #79bd9a;
}

.incorrect {
  background: #fb7d79;
}

.correct,
.incorrect {
  padding: 2rem;
}

.results div + div {
  margin-top: 2rem;
}