body {
  margin: .5rem;
}
/* WRAPPERS */
.wrapper + .wrapper {
  margin-top: .5rem;
}

.wrapper.item {
  padding: 1rem;
}

.wrapper.interface {
  margin-top: 1rem;
}

/* EXPRESSION */
.expression {
  flex-direction: column;
}
.operandOne {
  text-align: center;
}

.operator {
  text-align: center;
}

.operandTwo {
  text-align: center;
}

/* BUTTONS */
.button {
  font-size: 1rem;
}